{% extends 'base.html.twig' %}
{% set employeePage = true %}

{% block content %}

    {% include 'inc/tiltle.html.twig' with {'title' : title} %}

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.lastName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.firstName) }}
    </div>
    <div class="form-group">
        {{ form_row(form.phone) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email) }}
    </div>
    <div class="form-group">
        {{ form_row(form.position) }}
    </div>
    <div class="form-group">
        {{ form_row(form.notes) }}
    </div>
    <div class="form-group">
        {{ form_row(form.save) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
