<div class="modal fade" id="positionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span>Add</span> position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ path('position_save') }}" method="post" name="positionForm">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="position">Position</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control" id="positionTitle" placeholder="Title"/>
                        </div>
                        <input type="hidden" name="id" id="positionId">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="savePosition">Save</button>
            </div>
        </div>
    </div>
</div>