{% extends 'base.html.twig' %}
{% set employeePage = true %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/vendor/nestable/nestable.css') }}">
{% endblock %}


{% block content %}

{% include 'inc/tiltle.html.twig' with {'title' : 'Employers tree'} %}
<div class="dd">
    {% include 'inc/tree.html.twig' with {'subordinates' : subordinates} %}
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/vendor/nestable/jquery.nestable.js') }}"></script>
    <script src="{{ asset('js/tree.js') }}"></script>
{% endblock %}
