{% extends 'base.html.twig' %}
{% set employeePage = true %}

{% block content %}

    {% include 'inc/tiltle.html.twig' with {'title' : 'Employers list'} %}

    {% for type, flash_messages in app.session.flashBag.all %}
        {% for msg in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ msg }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Position</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Notes</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employers %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position.title }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.notes }}</td>
                <td data-id="{{ employee.id }}">
                    <a href="{{ path('employee_show' , {'id' : employee.id }) }}" class="mr-3"><i class="fa fa-eye"></i></a>
                    <a href="#" class="remove"><i class="fa fa-trash text-danger"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/employers.js') }}"></script>
{% endblock %}
