{% extends 'base.html.twig' %}
{% set positionPage = true %}

{% block title %} Positions {% endblock %}

{% block content %}

{% include 'inc/tiltle.html.twig' with {'title': 'Positions list'} %}

    {% include 'inc/position_table.html.twig' with {'positions': positions } %}
    {% include 'modals/position.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/positions.js') }}"></script>
{% endblock %}

