<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    {% for position in positions %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ position.title }}</td>
            <td data-id="{{ position.id }}" data-title="{{ position.title }}">
                <a href="#" class="mr-3 edit" data-toggle="modal" data-target="#positionModal"><i
                            class="fa fa-edit text-info"></i></a>
                <a href="#" class="remove"><i class="fa fa-trash text-danger"></i></a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>