<ol class="dd-list">
    {% for item in subordinates %}
    <li class="dd-item" data-id="{{ item.employee.id }}">
        <div class="dd-handle">
            <div class="structure-page-title">
                <span>{{ item.employee.fullName }}</span>
                <span class="pull-right"><i class="fa fa-tag"></i> {{ item.employee.position.title }}</span>
            </div>
        </div>
        {% if item.children|length > 0 %}
            {% include 'inc/tree.html.twig' with {'subordinates' : item.children} %}
        {% endif %}
    </li>
    {% endfor %}
</ol>
